body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.oxl-color{
  color: #ff7700 !important;
}

.olx-btn{
  background: #ff7700 !important ;

  color: white !important;
  font-weight: bold !important ;
}
.footer-background{
  background: url('/images/footer.png');
  background-size: cover;
}
 
footer .list-unstyled li a:hover {

  color: #ff7700 !important ;
  text-decoration: none;
}
.sub-navbar li {

  margin: 20px;
}

.image-ad{
 
  -webkit-transition:all .7s;
 
  -o-transition:all .7s;
 
  transition:all .7s;
}
.hello:hover .image-ad{

  -webkit-transform: scale(1.5);

      -ms-transform: scale(1.5);

          transform: scale(1.5);

}
.img-size{


  height: 430px;
 
}
@media only screen and (max-width: 990px){
.img-size{

  height: 390px;
  }
}
@media only screen and (max-width: 990px){
  .img-size{
  
    height: 300px;
    }
  }
  @media only screen and (max-width: 420px){
    .img-size{
    
      height: 250px;
      }
      .navbar-brand{
        font-size: 16px !important ;
      
      }
    }
    .description-container{
      display: -ms-flexbox;
      display: flex;
      position:relative;
      width:120%;
      right:15%
    }
    .arrow{
      display: block;
      content: "";

      border-top: .3em solid transparent;
      border-right: .3em solid ;
      font-size: 130px;
      color: #ffc107;
      border-bottom: .3em solid transparent; 
    }
.price{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: auto;
}
@media only screen and (max-width: 767px){

  .arrow{
    display: none;
  }
   .description-container{
    display: -ms-flexbox;
    display: flex;
    position:relative;
    width:100%;
    left:0%
  }
}
.popup{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: auto;
background: rgba(0, 0, 0, 0.5);
z-index: 1000;
}
.inner-popup{
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: auto;
  top: 10%;
  margin: auto;
background: white;

}
.inner-popup-message{
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 30%;
  top: 10%;
  margin: auto;
  background: white;
  overflow: auto;
}
@media only screen and (max-width:850px){
.inner-popup{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: white;
}
.inner-popup-message{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: white;
}

}
.message:hover{
-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow:0 0 5px rgba(0, 0, 0, 0.5)
}


// WEBPACK FOOTER //
// ./src/index.css